.chat-container {
    width: 700px;
    height: 700px;
    background-color: #e0e1dd;
    border-radius: 10px !important;
    border-collapse: collapse;
    position: relative;
    display: grid;
    grid-template-rows: 110px 490px 100px;
    grid-template-columns: 100%;
}

.header {
    flex: 0.15;
    background-color: #0d1b2a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.messages-container {
    
}

.input-container {
    flex: 0.1;
    background-color: #0d1b2a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: 90% 10%;
}