.chat-container {
    width: 95%;
    height: 95%;
    background-color: #e0e1dd;
    border-radius: 10px !important;
    border-collapse: collapse;
    position: relative;
}

.header {
    height: 100px;
    background-color: #0d1b2a;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}