.account-main-container {
    background-color: rgb(174, 173, 173);
    width: 100%;
    height: 100%;
    flex:1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-page-body {
    width: 95%;
    height: 95%;
    background-color: #e0e1dd;
    border-radius: 10px !important;
    border-collapse: collapse;
    position: relative;
}

.scrollbar {
    border-radius: 10px !important;
    border-collapse: collapse;
}

.account-details-part {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.x-icon-container{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    top:10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.account-posts-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friendship-container {
    background-color: #0d1b2a; 
    width: max-content;
    padding: 10px;
    border-radius: 20px;
    box-shadow: #000000 0px 5px 15px;
    border:1px solid #FFFFFF;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
}